
@font-face {
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url('../fonts/quicksand-300.woff2') format('woff2'), 
         url('../fonts/quicksand-300.ttf') format('truetype');
}

@font-face {
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('../fonts/quicksand-400.woff2') format('woff2'), 
         url('../fonts/quicksand-400.ttf') format('truetype');
}

@font-face {
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url('../fonts/quicksand-500.woff2') format('woff2'), 
         url('../fonts/quicksand-500.ttf') format('truetype');
}

@font-face {
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url('../fonts/quicksand-600.woff2') format('woff2'), 
         url('../fonts/quicksand-600.ttf') format('truetype');
}

@font-face {
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url('../fonts/quicksand-700.woff2') format('woff2'), 
         url('../fonts/quicksand-700.ttf') format('truetype');
}

body {
    font-family: 'Quicksand', sans-serif;
}
